In [4]:
import pandas as pd
import os

In [5]:
pwd = os.getcwd()

In [6]:
dataset = pd.read_excel(pwd + "//Data - Survey Monkey Edited.xlsx",sheet_name="Edited_data")

In [7]:
dataset.head()

,Respondent ID -,Start Date -,End Date -,Email Address -,First Name -,Last Name -,Custom Data 1 -,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,...,Question 29 - Response 8,Question 29 - Response 9,Question 29 - Response 10,Question 29 - Response 11,Question 29 - Response 12,Question 29 - Response 13,Question 29 - Response 14,Question 30 - Response 1,Question 30 - Response 2,Question 30 - Response 3
0,5.379192e+09,2021-01-22 12:01:17,2021-01-22 12:40:34,NaN,NaN,NaN,NaN,Infrastructure,NaN,Staff,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
1,2.658723e+09,2021-01-22 06:56:37,2021-01-22 07:34:10,NaN,NaN,NaN,NaN,Finance,NaN,Staff,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
2,4.044163e+09,2021-01-22 06:35:18,2021-01-22 06:47:32,NaN,NaN,NaN,NaN,Infrastructure,NaN,Department Lead,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
3,5.535866e+09,2021-01-21 21:29:32,2021-01-21 21:40:24,NaN,NaN,NaN,NaN,Infrastructure,NaN,Manager,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
4,3.356803e+09,2021-01-21 17:26:39,2021-01-21 17:44:40,NaN,NaN,NaN,NaN,Port Operations,NaN,Manager,...,NaN,Answer 5,Answer 4,Answer 4,Answer 7,Answer 7,NaN,Answer 7,NaN,Answer 8

In [8]:
data_modified = dataset.copy()

In [9]:
data_modified.columns

Index(['Respondent ID - ', 'Start Date - ', 'End Date - ', 'Email Address - ',
       'First Name - ', 'Last Name - ', 'Custom Data 1 - ',
       'Identify which division you work in. - Response',
       'Identify which division you work in. - Other (please specify)',
       'Which of the following best describes your position level? - Response',
       'Which generation are you apart of? - Response',
       'Please select the gender in which you identify. - Response',
       'Which duration range best aligns with your tenure at your company? - Response',
       'Which of the following best describes your employment type? - Response',
       'Question 1 - Response', 'Question 2 - Response',
       'Question 3 - Open-Ended Response', 'Question 4 - Response',
       'Question 4 - Other (please specify)', 'Question 5 - Response 1',
       'Question 5 - Response 2', 'Question 5 - Response 3',
       'Question 5 - Response 4', 'Question 5 - Response 5',
       'Question 5 - Response 6', 'Question 6 - Response 1',
       'Question 6 - Response 2', 'Question 6 - Response 3',
       'Question 6 - Response 4', 'Question 6 - Response 5',
       'Question 6 - Response 6', 'Question 7 - Response 1',
       'Question 7 - Unscheduled', 'Question 8 - Response 1',
       'Question 8 - Response 2', 'Question 8 - Response 3',
       'Question 8 - Response 4', 'Question 9 - Response 1',
       'Question 9 - Response 2', 'Question 9 - Response 3',
       'Question 9 - Response 4', 'Question 10 - Response 1',
       'Question 10 - Response 2', 'Question 10 - Response 3',
       'Question 10 - Response 4', 'Question 10 - Response 5',
       'Question 11 - Reponse 1', 'Question 11 - Response 2',
       'Question 12 - Response', 'Question 13 - Response',
       'Question 14 - Response', 'Question 15 - Response',
       'Question 16 - Response', 'Question 17 - Response',
       'Question 18 - Response', 'Question 19 - Response',
       'Question 19 - Other (please specify)', 'Question 20 - Response',
       'Question 21 - Response', 'Question 22 - Reponse 1',
       'Question 22 - Reponse 2', 'Question 23 - Response',
       'Question 24 - Response 1', 'Question 24 - Response 2',
       'Question 24 - Response 3', 'Question 24 - Response 4',
       'Question 24 - Response 5', 'Question 25 - Response 1',
       'Question 25 - Response 2', 'Question 25 - Response 3',
       'Question 25 - Response 4', 'Question 25 - Response 5',
       'Question 25 - Response 6', 'Question 25 - Response 7',
       'Question 25 - Response 8', 'Question 25 - Response 9',
       'Question 26 - Response 1', 'Question 26 - Response 2',
       'Question 26 - Response 3', 'Question 26 - Response 4',
       'Question 27 - Response 1', 'Question 27 - Response 2',
       'Question 28 - Response', 'Question 29 - Response 1',
       'Question 29 - Response 2', 'Question 29 - Response 3',
       'Question 29 - Response 4', 'Question 29 - Response 5',
       'Question 29 - Response 6', 'Question 29 - Response 7',
       'Question 29 - Response 8', 'Question 29 - Response 9',
       'Question 29 - Response 10', 'Question 29 - Response 11',
       'Question 29 - Response 12', 'Question 29 - Response 13',
       'Question 29 - Response 14', 'Question 30 - Response 1',
       'Question 30 - Response 2', 'Question 30 - Response 3'],
      dtype='object')

In [10]:
Colunms_to_drop = ['Start Date - ', 'End Date - ', 'Email Address - ',
       'First Name - ', 'Last Name - ', 'Custom Data 1 - ']

In [11]:
data_modified.drop(columns=Colunms_to_drop,inplace=True)

In [12]:
data_modified

,Respondent ID -,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question 1 - Response,Question 2 - Response,...,Question 29 - Response 8,Question 29 - Response 9,Question 29 - Response 10,Question 29 - Response 11,Question 29 - Response 12,Question 29 - Response 13,Question 29 - Response 14,Question 30 - Response 1,Question 30 - Response 2,Question 30 - Response 3
0,5.379192e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,NaN,Answer 6,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
1,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Answer 4,Answer 2,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
2,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Answer 5,Answer 7,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
3,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Answer 1,Answer 1,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
4,3.356803e+09,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,NaN,Answer 3,...,NaN,Answer 5,Answer 4,Answer 4,Answer 7,Answer 7,NaN,Answer 7,NaN,Answer 8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,7.940065e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Answer 3,NaN,...,Answer 1,Answer 1,Answer 3,Answer 6,Answer 6,Answer 8,NaN,NaN,NaN,Answer 8
194,5.157706e+09,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,NaN,NaN,...,Answer 5,NaN,Answer 5,NaN,NaN,Answer 2,NaN,NaN,NaN,Answer 6
195,9.920756e+09,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,NaN,Answer 7,...,NaN,Answer 7,NaN,NaN,NaN,NaN,NaN,NaN,Answer 3,NaN
196,6.638341e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,NaN,NaN,...,Answer 2,NaN,Answer 3,Answer 5,NaN,Answer 8,Answer 3,Answer 3,NaN,NaN
197,8.114622e+09,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,NaN,Answer 1,...,Answer 3,NaN,Answer 7,NaN,NaN,NaN,NaN,Answer 3,NaN,NaN

#### UNPIVOT

In [13]:
id_vars = list(data_modified.columns)[:8]
value_vars = list(data_modified.columns)[8:]
dataset_melted = data_modified.melt(id_vars=id_vars, value_vars=value_vars,var_name="Question + Subquestion",value_name="Answer")

In [14]:
dataset_melted

,Respondent ID -,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question + Subquestion,Answer
0,5.379192e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN
1,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4
2,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5
3,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1
4,3.356803e+09,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,Question 1 - Response,NaN
...,...,...,...,...,...,...,...,...,...,...
17023,7.940065e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8
17024,5.157706e+09,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6
17025,9.920756e+09,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN
17026,6.638341e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN
17027,8.114622e+09,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,Question 30 - Response 3,NaN

In [15]:
question_import = pd.read_excel(pwd + "//Data - Survey Monkey Edited.xlsx",sheet_name= "Question")

In [16]:
question_import

     Raw Question Raw sub-questions       Question     Question + Subquestion
0   Respondent ID               NaN  Respondent ID           Respondent ID -
1      Start Date               NaN     Start Date              Start Date -
2        End Date               NaN       End Date                End Date -
3   Email Address               NaN  Email Address           Email Address -
4      First Name               NaN     First Name              First Name -
..            ...               ...            ...                        ...
95            NaN       Response 13    Question 29  Question 29 - Response 13
96            NaN       Response 14    Question 29  Question 29 - Response 14
97    Question 30        Response 1    Question 30   Question 30 - Response 1
98            NaN        Response 2    Question 30   Question 30 - Response 2
99            NaN        Response 3    Question 30   Question 30 - Response 3

[100 rows x 4 columns]

In [17]:
question_import.drop(columns=["Raw Question","Raw sub-questions"],inplace=True)

In [18]:
question_import.dropna(inplace=True)

In [19]:
question=question_import.copy

In [20]:
question

<bound method NDFrame.copy of          Question     Question + Subquestion
0   Respondent ID           Respondent ID -
1      Start Date              Start Date -
2        End Date                End Date -
3   Email Address           Email Address -
4      First Name              First Name -
..            ...                        ...
95    Question 29  Question 29 - Response 13
96    Question 29  Question 29 - Response 14
97    Question 30   Question 30 - Response 1
98    Question 30   Question 30 - Response 2
99    Question 30   Question 30 - Response 3

[100 rows x 2 columns]>

#### Join the two imported file

In [21]:
dataset_merged =pd.merge(left=dataset_melted,right=question_import,how="left",left_on="Question + Subquestion",right_on="Question + Subquestion")

In [22]:
print("Original Data", len(dataset_melted))
print("Merged Data", len(dataset_merged))
dataset_merged

Original Data 17028
Merged Data 17028

,Respondent ID -,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question + Subquestion,Answer,Question
0,5.379192e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN,Question 1
1,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4,Question 1
2,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5,Question 1
3,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,Question 1
4,3.356803e+09,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,Question 1 - Response,NaN,Question 1
...,...,...,...,...,...,...,...,...,...,...,...
17023,7.940065e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8,Question 30
17024,5.157706e+09,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6,Question 30
17025,9.920756e+09,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,Question 30
17026,6.638341e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,Question 30
17027,8.114622e+09,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,Question 30 - Response 3,NaN,Question 30

In [30]:
respondents = dataset_merged[dataset_merged['Answer'].notna()]

In [ ]:
# pd.DataFrame(respondent)

In [39]:
respondents.columns

Index(['Respondent ID - ', 'Identify which division you work in. - Response',
       'Identify which division you work in. - Other (please specify)',
       'Which of the following best describes your position level? - Response',
       'Which generation are you apart of? - Response',
       'Please select the gender in which you identify. - Response',
       'Which duration range best aligns with your tenure at your company? - Response',
       'Which of the following best describes your employment type? - Response',
       'Question + Subquestion', 'Answer', 'Question'],
      dtype='object')

In [36]:
respondents.rename

,Respondent ID -,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question + Subquestion,Answer,Question
1,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4,Question 1
2,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5,Question 1
3,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,Question 1
5,3.399512e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 8,Question 1
6,9.860597e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 1 - Response,Answer 8,Question 1
...,...,...,...,...,...,...,...,...,...,...,...
17017,9.735550e+09,People,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 30 - Response 3,Answer 5,Question 30
17020,7.325852e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Prefer not to answer,3-5 years,Full time Employee,Question 30 - Response 3,Answer 5,Question 30
17021,3.370366e+09,Port Security & Emergency Operations,NaN,Staff,Generation X (born between 1965-1980),Female,0-2 years,Full time Employee,Question 30 - Response 3,Answer 6,Question 30
17023,7.940065e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8,Question 30
17024,5.157706e+09,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6,Question 30